@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.App > .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 300px;
}

.App > .investment > .range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App > .investment > .range > .input-range {
  width: 70%;
  margin-right: 5%;
  margin-bottom: 60px;
}

.App > .investment > .range > .input {
  width: 25%;
  margin-bottom: 60px;
}

.App > .investment > .token-select {
  width: 100%;
}

.App > .earnings {
  align-items: flex-end;
  text-align: right;
}

.App > .earnings > .usd {
  font-size: 2em;
  font-weight: 700;
}

.App > .earnings > .heading {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}
